{% include "blog/navigation.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="container mt-5 text-center">
        <h1>About</h1>
    </div>
    <div class="container mt-5 text-center">
        <p>Husnah Auwal was born in kano,</p>
        <p>Nigeria and grew up in Lagos.
        <p>After completing her secondary education, she started to pursue a career in pharmacy.</p>
        <p>In 2018, she stumbled upon an article about blogging and as at then she had no idea what blogging was all about.</p>
        <p>Writing started to become a hobby and she now finds herself in the blogging world.</p>

        <p>An artist in her free time, she derives joy in engaging in different activities such as cooking,</p>
        <p>exploring new things and so on.</p>

        <p>She is currently working on a clothing brand called 'Hamaf by Husnah.
        <p>It will soon be launched in full swing.</p>
    </div>
</body>
</html>